RP_ID=""                # Domínio do site sem www e https
RP_NAME=""              # Nome do site
RP_ORIGIN=""            # URL completa do site

DATABASE_URL=""         # URL da base de dados
SECRET_KEY=""           # Secret key para middleware
